PORT=8080
NODE_ENV=development

MONGODB_URI=mongodb://localhost:27017
MONGODB_DB_NAME=resume_analyzer

JWT_SECRET=change_me_securely
JWT_EXPIRES_IN=1d
JWT_COOKIE_NAME=access_token
CORS_ORIGIN=http://localhost:3000
ML_SERVICE_URL=http://ml-model:8000
STORE_RAW_RESUME_TEXT=false
RESUME_TEXT_MAX_CHARS=4000
USE_IN_MEMORY_DB=false
